.circulos {
  background-color: map-get($map: $color, $key: "terciario");
  transform: scale(1.2);
  left: -10%;
  top: -10%;
  width: 150%;
  height: 150%;
  
  body.light & {
    background-color: map-get($map: $color, $key: "primario");
    transition: all .5s ease;

    .circulos__svg .path {
      fill: map-get($map: $color, $key: "quinto");
      transition: all .5s ease;
    }

  }

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;

  filter: blur(60px);

  animation: svg 70s linear infinite alternate;

  .circulos__svg {
    position: absolute;
    width: 60%;
    height: 60%;


    .path {
      fill: map-get($map: $color, $key: "primario");
    }

    animation: svg 50s linear infinite alternate;
  }

  .svg1 {
    top: 0;
    left: 0;
  }

  .svg2 {
    top: 0;
    right: 0;
  }

  .svg3 {
    bottom: 0;
    left: 0;
  }

  @keyframes svg {
    from {
      transform: rotate(0deg) scale(1.5);
    }

    to {
      transform: rotate(360deg) scale(2);
    }
  }
}