    .main__contact {
      background-color: #26262694;
      backdrop-filter: blur(4px);
      padding: 2rem;
      width: 80%;
      margin-top: 4rem;
      gap: 1rem;
      display: grid;

      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

      .contact__info {

        .contact__title {
          font-size: 2rem;
          color: map-get($map: $color, $key: "sexto");
          margin-bottom: 1rem;
        }

        .contact__socialmedia {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          align-items: start;
          justify-content: flex-start;

          .socialmedia__item {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .socialmedia__link {
              text-decoration: none;
              font-size: 1.2rem;
              display: flex;
              align-items: center;
              gap: 0.5rem;

              .socialmedia__svg {
                color: map-get($map: $color, $key: "cuarto");
                width: 2.5rem;
                height: 2.5rem;
              }
            }

            span {
              font-size: clamp(0.7rem, 1.5vw, 1.2rem);
              color: map-get($map: $color, $key: "quinto");
            }
          }
        }

      }

      .contact__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: start;
        justify-content: flex-start;

        input,
        textarea {
          background-color: #dad2d218;
          width: 100%;
          resize: none;
          transition: border-bottom 0.2s;

          padding: 0.5rem;
          margin-bottom: 1rem;
          border: none;
          color: map-get($map: $color, $key: "quinto");
          font-size: 1rem;

          &:focus {
            outline: none;
            border-bottom: 2px solid map-get($map: $color, $key: "cuarto");
          }

          &::placeholder {
            color: rgba(255, 255, 255, 0.753);
          }

        }

        textarea {
          field-sizing: content;
          min-height: 4rem;
        }

        button {
          width: 100%;
          background-color: map-get($map: $color, $key: "terciario");
          color: map-get($map: $color, $key: "quinto");
          padding: 0.5rem 1rem;
          border: none;
          font-size: 1rem;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: map-get($map: $color, $key: "cuarto");
          }
        }

      }

    }