    .main__contact {
      width: 80%;
      padding: 2rem;
      background-color: map-get($map: $color, $key: "primario");
      backdrop-filter: blur(4px);
      gap: 1rem;
      border-radius: 0.5rem;
      box-shadow:  0 0 10px rgba(0, 0, 0, 0.3);

      .contact__title {
        font-size: 2rem;
        font-family: map-get($map: $fuente, $key: "principal");
        color: map-get($map: $color, $key: "sexto");
        font-weight: 700;
        font-size: clamp(2rem, 5vw, 3rem);
        margin-bottom: 1.5rem;
        text-align: center;
      }

      .contact__info {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        .contact__media {

          .contact__socialmedia {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: start;
            justify-content: flex-start;
            margin-bottom: 1.5rem;

            .socialmedia__item {
              display: flex;
              align-items: center;
              gap: 0.5rem;

              .socialmedia__link {
                text-decoration: none;
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                gap: 0.5rem;

                .socialmedia__svg {
                  color: map-get($map: $color, $key: "quinto");
                  background-color: map-get($map: $color, $key: "terciario");
                  padding: 0.3rem;
                  border-radius: 0.5rem;
                  width: 3rem;
                  height: 3rem;
                }
              }

              span {
                font-size: clamp(0.7rem, 3vw, 1.2rem);
                color: map-get($map: $color, $key: "quinto");
              }
            }
          }

        }

        .contact__form {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          align-items: start;
          justify-content: flex-start;

          input,
          textarea {
            background-color: map-get($map: $color, $key: "terciario");
            width: 100%;
            resize: none;
            transition: border-bottom 0.2s;
            border-radius: 1rem;

            padding: 0.5rem;
            margin-bottom: 1rem;
            border: none;
            color: map-get($map: $color, $key: "quinto");
            font-size: 1rem;

            &:focus {
              outline: none;
              border-bottom: 2px solid map-get($map: $color, $key: "cuarto");
            }

            &::placeholder {
              color: rgba(255, 255, 255, 0.753);
            }

          }

          textarea {
            field-sizing: content;
            min-height: 5rem;
            margin-bottom: 4rem;
          }

          button {
            width: 100%;
            background-color: map-get($map: $color, $key: "terciario");
            color: map-get($map: $color, $key: "quinto");
            padding: 0.5rem 1rem;
            border: none;
            font-size: 1rem;
            transition: background-color 0.3s ease;
            border-radius: 1rem;

            &:hover {
              background-color: map-get($map: $color, $key: "cuarto");
            }
          }

        }

      }

    }