.cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 4;
  pointer-events: none;
  transition: none;
  
  

  .cursor__styles {
    display: block;
    width: 100%;
    height: 100%;


    border: 2px solid map-get($map: $color, $key: "acento");
    border-radius: 50%;

    body.light & {
      border: 2px solid map-get($map: $color, $key: "primario");
    }

    transition: all 0.3s ease-out;
  }
}

.isClicked {
  .cursor__styles {
    transform: scale(0.5) translateZ(0);
  }
}

.isHiden {
  opacity: 0;
}

.isLinckHover {
  mix-blend-mode: difference;

  .cursor__styles {
    transform: scale(0.3) translateZ(0);
    background-color: map-get($map: $color, $key: "acento");
  }
}

.isTextHover {
  mix-blend-mode: difference;

  .cursor__styles {
    background-color: map-get($map: $color, $key: "acento-hover");
  }
}