.header__btn {
  position: fixed;
  z-index: 4;
  bottom: 3svh;
  right: 8vw;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 10%;
  background: map-get($map: $color, $key: "acento-hover");
  backdrop-filter: blur(4px);

  @include flexible(column, nowrap, center, center);

  @include custom-media(768px, 2000px) {
    display: none;
  }
  
  body.light & {
    background-color: map-get($map: $color-light, $key: "acento");
  }

}

.header__panel {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;

  font-family: map-get($map: $fuente, $key: "secundario");
  font-size: clamp(1.6rem, 5vw, 3rem);
  color: map-get($map: $color, $key: "quinto");

  @include flexible(column, nowrap, center, center);

  @include custom-media(768px, 2000px) {
    display: none;
  }

  &.is-active {
    transform: translate(0);
  }

  .panel__list {
    background: #000000e1;
    backdrop-filter: blur(4px);
    width: 90svw;
    height: 80svh;
    border: 1px solid map-get($map: $color, $key: "terciario");
    border-radius: 12px;
    
    @include flexible(column, nowrap, space-evenly, center);
  }
}