.header {
  width: 100%;
  min-height: 5rem;
  padding: 0 clamp(0.5rem, 5vw, 10rem);
  position: absolute;
  z-index: 3;

  @include flexible(row, nowrap, center, center);

  .header__container {
    width: 80%;

    @include flexible(row, nowrap, space-between, center);

    .header__logo {
      font-family: map-get($map: $fuente, $key: "secundario");
      word-spacing: -0.5rem;
      display: flex;
      align-items: center;
      ;

      body.light & {
        color: map-get($map: $color, $key: "primario");
      }

      .logo__part {
        font-size: clamp(1.8rem, 2.5vw, 3rem);
        color: map-get($map: $color, $key: "sexto");
      }

      .logo__dot {
        font-size: clamp(2.8rem, 3.5vw, 4rem);
        color: map-get($map: $color, $key: "cuarto");
        line-height: 1;
        transform: translateY(-0.4rem);
      }
    }

    .header__nav {
      min-height: 1rem;
      @include custom-media(0px, 768px) {
        display: none;
      }

      .nav__list {

        @include flexible(row, nowrap, space-around, center);

        .nav__item {
          margin: 1rem;
          padding: 0.8rem;
          font-size: clamp(1rem, 1.3vw, 2.5rem);

          &:hover{

            .nav__link::after{
              transform-origin: left;
              transform: scaleX(1);
            }
            
          }
          .nav__link {
            color: map-get($map: $color, $key: "quinto");
            position: relative;

            &::after{
              content: "";
              position: absolute;
              background-color: blueviolet;
              width: calc( 100% + 0.8rem);
              height: 4px;

              transition: transform 0.5s ease;
              transform-origin: left;
              transform: scaleX(0);
            }

            body.light & {
              color: map-get($map: $color, $key: "primario");
              border: 2px solid map-get($map: $color, $key: "primario");
            }
          }
        }
      }
    }
  }

}