.header {
    background-color: lightblue;
    width: 100%;
    min-height: 5rem;
    padding: 1rem 5rem;

    @include flexible(row, nowrap, space-between, center);

    display: none;

    .header__logo {

        .header__title {
            /* background-color: red; */

            .header__link {
                /* background-color: pink; */
                width: 100%;
                min-height: 1rem;

                @include flexible(row, nowrap, space-around, center);
            }
        }

    }

    .header__title {
        /* background-color: red; */

        .header__link {
            /* background-color: pink; */
            width: 100%;
            min-height: 1rem;

            @include flexible(row, nowrap, space-around, center);
        }
    }

    .header__title {
        /* background-color: red; */

        .header__link {
            /* background-color: pink; */
            width: 100%;
            min-height: 1rem;

            @include flexible(row, nowrap, space-around, center);
        }
    }

    .header__title {
        /* background-color: red; */

        .header__link {
            /* background-color: pink; */
            width: 100%;
            min-height: 1rem;

            @include flexible(row, nowrap, space-around, center);
        }
    }

    .header__nav {
        /* background-color: red; */
        min-height: 1rem;

        .nav__list {
            /* background-color: pink; */
            width: 100%;
            min-height: 1rem;

            @include flexible(row, wrap, space-around, center);

            .nav__item {
                /* background-color: yellow; */
                margin: 1rem;

                .nav__link {}
            }
        }
    }
}