.header {
  width: 100%;
  min-height: 5rem;
  padding: 0 clamp(0.5rem, 5vw, 10rem);
  position: fixed;
  z-index: 3;
  backdrop-filter: blur(4px);
  font-family: map-get($map: $fuente, $key: "secundario");
  font-weight: bold;
  @include flexible(row, nowrap, center, center);


  .header__container {
    width: 80%;
    @include flexible(row, nowrap, space-between, center);

    .header__logo {
      font-family: map-get($map: $fuente, $key: "principal");
      word-spacing: -0.5rem;
      font-weight: 700;

      .logo__part {
        font-size: clamp(1.8rem, 2.5vw, 3rem);
        color: map-get($map: $color, $key: "acento");
        body.light & {
          color: map-get($map: $color-light, $key: "acento");
        }
      }

      
      .logo__part-two {
        font-size: clamp(1.8rem, 2.5vw, 3rem);
        color: map-get($map: $color, $key: "sexto");

        body.light & {
          color: map-get($map: $color-light, $key: "quinto");
        }
      }

      .logo__dot {
        font-size: clamp(2.8rem, 3.5vw, 4rem);
        color: map-get($map: $color, $key: "cuarto");
        transform: translateY(-0.4rem);
        
        body.light & {
          color: map-get($map: $color-light, $key: "cuarto");
        }
      }
    }

    .header__nav {

      @include custom-media(0px, 768px) {
        display: none;
      }

      .nav__list {

        @include flexible(row, nowrap, space-around, center);

        .nav__item {
          margin: clamp(0.5rem, 1vw, 0.8rem);
          padding: 0.8rem;
          font-size: clamp(1.1rem, 1.5vw, 2.5rem);


          .nav__link {
            color: map-get($map: $color, $key: "quinto");
            position: relative;
            padding: 1rem 0;

            body.light & {
              color: map-get($map: $color-light, $key: "quinto");
            }

            &:hover::after {
              transform-origin: left;
              transform: scaleX(1);
            }

            &::after {
              content: "";
              position: absolute;
              background-color: map-get($map: $color, $key: "cuarto");
              width: calc(100% + 0.8rem);
              height: 2px;

              body.light & {
                background-color: map-get($map: $color-light, $key: "cuarto");
              }

              transition: transform 0.5s ease;
              transform-origin: left;
              transform: scaleX(0);
            }

          }
        }
      }
    }

  }

  .header__switch {
    background-color: map-get($map: $color, $key: "cuarto");
    opacity: 0.5;
    position: relative;
    border-radius: 100px;
    position: absolute;
    right: 3rem;

    body.light & {
      background-color: map-get($map: $color-light, $key: "cuarto");
    }

    &::after {
      content: "";
      display: block;
      width: 28px;
      height: 28px;
      background-color: map-get($map: $color, $key: "secundario");
      position: absolute;
      top: 0;
      left: unset;
      right: 0;
      border-radius: 50%;
      transition: all .3s ease-in-out;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2);
    }

    &.active {

      &::after {
        right: unset;
        left: 0;
        background-color: map-get($map: $color-light, $key: "acento");
      }
    }

    @include flexible(row, nowrap, center, center);

    .switch__span {
      width: 28px;
      height: 28px;
      line-height: 28px;
      display: block;
      color: map-get($map: $color, $key: "sexto");
    }

  }
}