.main__hero {
  min-height: 90vh;
  width: 80%;

  font-family: map-get($map: $fuente, $key: "secundario");

  @include flexible(row, wrap, space-between, center);

  @include custom-media(0px, 1279px) {
    @include flexible(column, wrap, center, center);
  }

  .hero__description {
    max-width: clamp(30rem, 40vw, 50rem);

    .hero__title {
      color: map-get($map: $color, $key: "cuarto");
      font-size: clamp(2.5rem, 5vw, 3rem);
      line-height: 1;
      white-space: nowrap;

      @include custom-media(0px, 1279px) {
        white-space: normal;
        text-align: center;
      }

      body.light & {
        color: map-get($map: $color, $key: "primario");
      }

    }

    .hero__text {
      color: map-get($map: $color, $key: "quinto");
      font-size: clamp(1.3rem, 2vw, 2.5rem);
      margin-top: 2rem;
      @include custom-media(0px, 1279px) {
        text-align: center;
      }
      body.light & {
        color: map-get($map: $color, $key: "primario");
      }
    }

    .hero__actions {
      margin-top: 2rem;
      gap: 2rem;

      @include flexible(row, wrap, start, center);
      @include custom-media(0px, 1279px) {
        @include flexible(row, wrap, center, center);
      }
      .hero__link {
        display: inline-block;
        text-decoration: none;
        color: map-get($map: $color, $key: "quinto");
        background-color: map-get($map: $color, $key: "terciario");
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;

      }


    }

    .hero__media {
      margin-top: 2rem;
      gap: 2rem;

      @include flexible(row, wrap, start, center);
      @include custom-media(0px, 1279px) {
        @include flexible(row, wrap, center, center);
      }
      .hero__svg {
        fill: map-get($map: $color, $key: "quinto");
        height: 2rem;
      }

    }

  }

  .hero__image {
    width: clamp(15rem, 30vw, 25rem);
    height: clamp(15rem, 30vw, 25rem);
    border-radius: 50%;
    border: 2px solid map-get($map: $color, $key: "cuarto");
    overflow: hidden;
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);

    @include custom-media(0px, 1279px) {
      margin-top: 5rem;
      display: none;
    }

    .hero__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}