.main__hero {
  min-height: 100vh;
  width: 80%;
  padding-top: 1rem;

    font-family: unquote(map-get($fuente, "secundario"));

  @include flexible(row, wrap, space-between, center);

  @include custom-media(0px, 1279px) {
    @include flexible(column, wrap, center, center);
  }

  .hero__description {
    max-width: clamp(30rem, 40vw, 50rem);

    .hero__title {
      color: map-get($map: $color, $key: "cuarto");
      font-size: clamp(2.5rem, 5vw, 3rem);
      line-height: 1;
      white-space: nowrap;

      @include custom-media(0px, 1279px) {
        white-space: normal;
        text-align: center;
      }

      body.light & {
        color: map-get($map: $color, $key: "primario");
      }
    }

    .hero__text {
      color: map-get($map: $color, $key: "quinto");
      font-size: clamp(1.3rem, 2vw, 2.5rem);
      margin-top: 2rem;

      span {
        color: map-get($map: $color, $key: "acento");
      }

      @include custom-media(0px, 1279px) {
        text-align: center;
      }

      body.light & {
        color: map-get($map: $color, $key: "primario");
      }
    }

    .hero__actions {
      margin-top: 2rem;
      gap: 2rem;

      @include flexible(row, wrap, start, center);

      @include custom-media(0px, 1279px) {
        @include flexible(row, wrap, center, center);
      }
      .hero__link {
        display: inline-block;
        text-decoration: none;
        color: map-get($map: $color, $key: "primario");
        background-color: map-get($map: $color, $key: "cuarto");
        font-size: 24px;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        
        
        &:hover {
          background-color: map-get($map: $color, $key: "acento-hover");
          transition: background-color 0.3s ease, transform 0.3s ease;
          transform: scale(1.03);
        }

      }
    }

    .hero__media {
      margin-top: 2rem;
      gap: 2rem;

      .hero__link{
        padding: 0.5rem;
      }

      @include flexible(row, wrap, start, center);
      @include custom-media(0px, 1279px) {
        @include flexible(row, wrap, center, center);
      }
      .hero__svg {
        fill: map-get($map: $color, $key: "quinto");
        height: 2rem;
        &:hover {
          fill: map-get($map: $color, $key: "acento-hover");
        }
    
      }
    }
  }

  .hero__image {
    width: clamp(15rem, 30vw, 20rem);
    height: clamp(15rem, 30vw, 20rem);
    border-radius: 50%;
    border: 2px solid map-get($map: $color, $key: "acento");
    overflow: hidden;

    @include custom-media(0px, 1279px) {
      margin-top: 5rem;
      display: none;
    }

    .hero__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}