body {
  background-color: map-get($map: $color, $key: "terciario");
  $global-accent: map-get($map: $color, $key: "acento");
  background-image: radial-gradient(circle at 15% 10%, rgba($global-accent, 0.06), transparent 35%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  hyphens: none;

  .main {
    position: relative;
    z-index: 2;
    padding: 0 clamp(0.5rem, 5vw, 10rem);

    @include flexible(column, wrap, center, center);


    .main__about {
      width: 80%;
      min-height: 50vh;
      margin-top: 4rem;

      @include flexible(row, nowrap, flex-start, center);

      @include custom-media(0px, 1279px) {
        @include flexible(column, wrap, center, center);
      }

      .about__figure {
        width: 100%;
        @include flexible(column, nowrap, center, center);

        .about__img {
          width: clamp(15rem, 30vw, 25rem);
          border-radius: 1rem;
        }
      }

      .about__info {
        width: 100%;
        @include flexible(column, wrap, center, center);

        .about__title {
          font-family: map-get($map: $fuente, $key: "secundario");
          color: map-get($map: $color, $key: "sexto");
          font-size: clamp(2rem, 5vw, 3rem);
          text-align: start;

          body.light & {
            color: map-get($map: $color, $key: "primario");
          }
        }

        .about__text {
          max-width: 40rem;
          font-family: map-get($map: $fuente, $key: "secundario");
          color: map-get($map: $color, $key: "quinto");
          font-size: 1.5rem;
          line-height: 1.5;


          body.light & {
            color: map-get($map: $color, $key: "primario");
          }

          @include custom-media(0px, 1279px) {
            text-align: center;
          }

        }
      }
    }



  }
}

section {
  scroll-margin-top: 80px;
}