@mixin flexible($direction, $corte, $just, $align) {
  display: flex;
  flex-flow: $direction $corte;
  justify-content: $just;
  align-items: $align;
}

@mixin madia($medida : 480px) {
  @media screen and (max-width: $medida) {
    @content;
  }
}