    .main__skills {
      width: 80%;
      min-height: 40vh;
      margin-top: 4rem;
      font-family: map-get($map: $fuente, $key: "secundario");

      .skills__title {
        color: map-get($map: $color, $key: "sexto");
        font-family: map-get($map: $fuente, $key: "principal");
        font-weight: 700;
        font-size: clamp(2rem, 5vw, 3rem);
        text-align: center;
        

        body.light & {
          color: map-get($map: $color, $key: "primario");
        }
      }

      .skills__figure {
        width: 100%;
        margin-top: 3rem;
        gap: 2rem;
        
        @include flexible(row, wrap, space-around, center);

        @include custom-media(0px, 780px) {
          @include flexible(row, wrap, center, center);
        }

        .skills__img {
          background-color: map-get($map: $color, $key: "secundario");
          width: clamp(5rem, 20vw, 135px);
          padding: 1rem;
          border-radius: 10px;
          box-shadow:  0 0 10px rgba(0, 0, 0, 0.3);
        }
      }

    }