    .main__works {
      width: 80%;
      padding-top: 1rem;
      font-family: map-get($map: $fuente, $key: "secundario");

      @include flexible(column, wrap, center, center);

      @include custom-media(0px, 1279px) {
        grid-template-columns: 1fr;
      }

      .works__info {
        @include flexible(column, wrap, flex-start, center);

        .works__title {
          font-family: map-get($map: $fuente, $key: "principal");
          color: map-get($map: $color, $key: "sexto");
          font-weight: 700;
          font-size: clamp(2rem, 5vw, 3rem);
          text-align: center;

          body.light & {
            color: map-get($map: $color, $key: "primario");
          }

          @include custom-media(0px, 480px) {
            font-size: 2rem;
          }

          @include custom-media(481px, 768px) {
            font-size: 2.5rem;
          }
        }

        .works__text {
          font-family: map-get($map: $fuente, $key: "secundario");
          color: map-get($map: $color, $key: "quinto");
          font-size: 1.5rem;
          line-height: 1.5;
          margin-top: 1rem;
          margin-bottom: 2rem;
          max-width: 45rem;
          text-align: center;

          body.light & {
            color: map-get($map: $color, $key: "primario");
          }

          @include custom-media(0px, 1279px) {
            text-align: center;

          }
        }
      }

      .works__cards {
        width: 100%;
        margin-top: 3;
        @include flexible(row, wrap, center, flex-start);
        gap: 2rem;

        @include custom-media(0px, 768px) {
          @include flexible(row, wrap, center, center);
        }

        .card {
          color: white;
          background-size: cover;
          background-position: center;
          padding: 5rem 0 0;
          max-width: 350px;
          border-radius: 0.5rem;
          overflow: hidden;

          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.05);

            .card__content {
              transform: translateY(0);
              transition-delay: 0.5s;

              &>*:not(.card__header) {
                opacity: 1;
                transition: opacity 0.3s linear;
                transition-delay: 0.6s;
              }

              .card__header {

                .card__title,
                .card__title::after {
                  transform: scaleX(1);
                }
              }
            }
          }

          .card__content {
            padding: 1.5rem;
            background: black;
            opacity: 0.90;

            font-family: map-get($map: $fuente, $key: "secundario");
            color: map-get($map: $color, $key: "quinto");
            font-size: 1rem;
            line-height: 1.5;
            min-height: 80px;

            transform: translateY(65%);
            transition: transform 0.3s ease;

            &>*:not(.card__header) {
              opacity: 0;
            }

            .card__header {
              @include flexible(row, wrap, space-between, center);

              .card__title {
                position: relative;
                width: max-content;
                margin-bottom: 1rem;
                line-height: 1.5;
                font-family: map-get($map: $fuente, $key: "principal");
                color: map-get($map: $color, $key: "sexto");
                font-size: 1.5rem;

                &::after {
                  content: "";
                  position: absolute;
                  width: calc(100% + 1.5rem);
                  height: 4px;
                  left: calc(1.5rem * -1);
                  bottom: -5px;
                  background-color: map-get($map: $color, $key: "cuarto");

                  transform: scaleX(0);
                  transform-origin: left;
                  transition: transform 0.3s ease;

                }
              }

              .card__icons {
                @include flexible(row, wrap, space-between, start);
              
                img {
                  width: clamp(1.5rem, 5vw, 2rem);
                  margin-bottom: 20px;
                }
              }

            }

            .card__body {
              height: 50px;
              overflow: auto;
            }

            .card__body::-webkit-scrollbar {
              width: 8px;
              height: 8px;
              /* alto de la barra horizontal */
            }

            .card__body::-webkit-scrollbar-track {
              background: #f1f1f1;
              /* color del fondo */
              border-radius: 10px;
            }

            .card__body::-webkit-scrollbar-thumb {
              background: #888;
              /* color de la barra */
              border-radius: 10px;
            }

            .card__body::-webkit-scrollbar-thumb:hover {
              background: #555;
              /* color al pasar el mouse */
            }

            .card__button {
              display: inline-block;
              text-decoration: none;
              color: map-get($map: $color, $key: "quinto");
              background-color: map-get($map: $color, $key: "terciario");
              padding: 0.5rem 1rem;
              border-radius: 0.25rem;
              margin-top: 2rem;

            }

          }

        }


      }

    }