@charset "UTF-8";
/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
/* ::selection {
  background-color: var(--negro);
  color: var(--blanco);
} */
/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */ /* appearance: none; */
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  /* (Opcional) */
  -webkit-hyphens: auto;
          hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
  /* (Opcional) */
  overflow-x: hidden;
}

/*---------- Font.Famylys ----------*/
/* font-family: 'Alegreya', serif; */
/* font-family: 'Philosopher', sans-serif; */
/*---------- Colores ----------*/
.circulos {
  background-color: #404040;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  filter: blur(50px);
  animation: svg 70s linear infinite alternate;
}
body.light .circulos {
  background-color: #0d0d0d;
  transition: all 0.5s ease;
}
body.light .circulos .circulos__svg .path {
  fill: #a6a6a6;
  transition: all 0.5s ease;
}
.circulos .circulos__svg {
  position: absolute;
  width: 60%;
  height: 60%;
  animation: svg 20s linear infinite alternate;
}
.circulos .circulos__svg .path {
  fill: #0d0d0d;
}
.circulos .svg1 {
  top: 0;
  left: 0;
}
.circulos .svg2 {
  top: 0;
  right: 0;
}
.circulos .svg3 {
  bottom: 0;
  left: 0;
}
@keyframes svg {
  from {
    transform: rotate(0deg) scale(2);
  }
  to {
    transform: rotate(360deg) scale(3);
  }
}

.cursor {
  position: fixed;
  width: 75px;
  height: 75px;
  position: absolute;
  z-index: 4;
  pointer-events: none;
  transition: none;
}
.cursor .cursor__styles {
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #a6a6a6;
  border-radius: 50%;
  transition: all 0.3s ease-out;
}
body.light .cursor .cursor__styles {
  border: 2px solid #0d0d0d;
}

.isClicked .cursor__styles {
  transform: scale(0.5) translateZ(0);
}

.isHiden {
  opacity: 0;
}

.isLinckHover {
  mix-blend-mode: difference;
}
.isLinckHover .cursor__styles {
  transform: scale(0.5) translateZ(0);
  background-color: #a6a6a6;
}

.isTextHover {
  mix-blend-mode: difference;
}
.isTextHover .cursor__styles {
  background-color: #a6a6a6;
}

.customCursorActive * {
  cursor: none;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  width: 100%;
  min-height: 5rem;
  padding: 1rem 5rem;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.header .header__nav {
  min-height: 1rem;
}
@media (min-width: 0px) and (max-width: 638px) {
  .header .header__nav {
    display: none;
  }
}
@media (orientation: landscape) {
  .header .header__nav {
    display: none;
  }
}
.header .header__nav .nav__list {
  width: 100%;
  min-height: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.header .header__nav .nav__list .nav__item {
  margin: 1rem;
  border: 1px solid #a6a6a6;
  padding: 1rem;
  border-radius: 30px;
}
body.light .header .header__nav .nav__list .nav__item {
  border: 2px solid #0d0d0d;
}
.header .header__nav .nav__list .nav__item:hover {
  background-color: #f7f4f4;
  transition: all 0.7s ease-in-out;
}
.header .header__nav .nav__list .nav__item:hover .nav__link {
  color: #0d0d0d;
}
.header .header__nav .nav__list .nav__item .nav__link {
  color: #a6a6a6;
}
body.light .header .header__nav .nav__list .nav__item .nav__link {
  color: #0d0d0d;
}

.main {
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.main .main__home {
  width: 100%;
  min-height: 80vh;
  font-family: Alegreya;
}
.main .main__home .main__hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.main .main__home .main__hero .hero__home {
  width: 90%;
  min-height: 90vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.main .main__home .main__hero .hero__home .hero__title {
  color: #f7f4f4;
  font-size: 7rem;
  text-align: center;
}
body.light .main .main__home .main__hero .hero__home .hero__title {
  color: #0d0d0d;
}
@media (min-width: 0px) and (max-width: 480px) {
  .main .main__home .main__hero .hero__home .hero__title {
    font-size: 3rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .main .main__home .main__hero .hero__home .hero__title {
    font-size: 5rem;
  }
}
.main .main__home .main__hero .hero__home .hero__subtitle {
  color: #f7f4f4;
  font-size: 4rem;
  text-align: center;
  margin-top: 3rem;
}
body.light .main .main__home .main__hero .hero__home .hero__subtitle {
  color: #0d0d0d;
}
@media (min-width: 0px) and (max-width: 480px) {
  .main .main__home .main__hero .hero__home .hero__subtitle {
    font-size: 2rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .main .main__home .main__hero .hero__home .hero__subtitle {
    font-size: 3rem;
  }
}
.main .main__about {
  width: 90%;
  min-height: 80vh;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
@media (min-width: 0px) and (max-width: 1279px) {
  .main .main__about {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
  }
}
.main .main__about .about__page {
  width: 100%;
  max-width: 827px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.main .main__about .about__page .about__figure {
  width: 100%;
  min-width: 20rem;
}
.main .main__about .about__page .about__figure .about__img {
  width: 100%;
  border-radius: 2rem;
}
.main .main__about .about__info {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}
.main .main__about .about__info .about__title {
  font-family: Alegreya;
  color: #f7f4f4;
  font-size: 6rem;
  text-align: start;
}
body.light .main .main__about .about__info .about__title {
  color: #0d0d0d;
}
@media (min-width: 0px) and (max-width: 1279px) {
  .main .main__about .about__info .about__title {
    font-size: 4rem;
  }
}
.main .main__about .about__info .about__text {
  max-width: 40rem;
  font-family: Alegreya;
  color: #a6a6a6;
  font-size: 1.5rem;
  text-align: start;
}
body.light .main .main__about .about__info .about__text {
  color: #0d0d0d;
}
@media (min-width: 0px) and (max-width: 1279px) {
  .main .main__about .about__info .about__text {
    text-align: center;
  }
}
.main .main__about .about__info .about__buton {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.main .main__about .about__info .about__buton .about__link {
  width: 100%;
  max-width: 8rem;
  min-height: 8rem;
  border-radius: 50%;
  border: 2px solid #a6a6a6;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: Alegreya;
  color: #a6a6a6;
  font-size: 1.5rem;
}
body.light .main .main__about .about__info .about__buton .about__link {
  color: #0d0d0d;
  border: 2px solid #0d0d0d;
}
.main .main__about .about__info .about__buton .about__link:hover {
  background-color: #f7f4f4;
  transition: all 0.7s ease-in-out;
  color: #0d0d0d;
}
.main .main__works {
  width: 90%;
  min-height: 80vh;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 2rem;
}
@media (min-width: 0px) and (max-width: 1279px) {
  .main .main__works {
    grid-template-columns: 1fr;
  }
}
.main .works__info {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
.main .works__info .works__tittle {
  font-family: Alegreya;
  color: #f7f4f4;
  font-size: 6rem;
}
body.light .main .works__info .works__tittle {
  color: #0d0d0d;
}
@media (min-width: 0px) and (max-width: 1279px) {
  .main .works__info .works__tittle {
    font-size: 4rem;
  }
}
.main .works__info .works__text {
  font-family: Alegreya;
  color: #a6a6a6;
  font-size: 1.5rem;
}
body.light .main .works__info .works__text {
  color: #0d0d0d;
}
@media (min-width: 0px) and (max-width: 1279px) {
  .main .works__info .works__text {
    text-align: center;
  }
}
.main .works__info .works__buton {
  width: 100%;
  height: auto;
  margin-bottom: 5rem;
  margin-top: 5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.main .works__info .works__buton .works__link {
  width: 100%;
  max-width: 8rem;
  min-height: 8rem;
  border-radius: 50%;
  border: 2px solid #a6a6a6;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-family: Alegreya;
  color: #a6a6a6;
  font-size: 1.5rem;
}
body.light .main .works__info .works__buton .works__link {
  color: #0d0d0d;
  border: 2px solid #0d0d0d;
}
.main .works__info .works__buton .works__link:hover {
  background-color: #f7f4f4;
  transition: all 0.7s ease-in-out;
  color: #0d0d0d;
}
.main .works__cards {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main .works__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
}
.main .works__cards .card {
  width: 100%;
  max-width: 400px;
  position: relative;
}
.main .works__cards .card .card__link {
  width: 100%;
}
.main .works__cards .card .card__link .card__figure {
  width: 100%;
  height: auto;
}
.main .works__cards .card .card__link .card__figure .card__img {
  width: 100%;
  border-radius: 2rem;
}
.main .works__cards .card .card__link .card__title {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  font-family: Philosopher;
  color: #f7f4f4;
  font-size: 2rem;
  opacity: 0;
  transform: translateZ(1) scale(0.1);
  transition: all 0.75s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.main .works__cards .card:hover .card__title {
  opacity: 1;
  transform: translateZ(1) scale(1);
}

.main__contact {
  width: 90%;
  min-height: 80vh;
  margin-top: 4rem;
  gap: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.main__contact .contact__text {
  width: 100%;
  min-height: 40vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.main__contact .contact__text .contact__subtitle {
  font-family: Alegreya;
  color: #f7f4f4;
  font-size: 2rem;
  text-align: center;
}
body.light .main__contact .contact__text .contact__subtitle {
  color: #0d0d0d;
}
.main__contact .contact__text .contact__title {
  font-family: Alegreya;
  color: #f7f4f4;
  font-size: 6rem;
  text-align: center;
}
body.light .main__contact .contact__text .contact__title {
  color: #0d0d0d;
}
@media (min-width: 0px) and (max-width: 1279px) {
  .main__contact .contact__text .contact__title {
    font-size: 4rem;
  }
}
.main__contact .contact__text .contact__buton {
  width: 100%;
  min-height: 20rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.main__contact .contact__text .contact__buton .contact__link {
  width: 100%;
  max-width: 8rem;
  min-height: 8rem;
  border-radius: 50%;
  border: 2px solid #a6a6a6;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: Alegreya;
  color: #a6a6a6;
  font-size: 1.2rem;
}
body.light .main__contact .contact__text .contact__buton .contact__link {
  color: #0d0d0d;
  border: 2px solid #0d0d0d;
}
.main__contact .contact__text .contact__buton .contact__link:hover {
  background-color: #f7f4f4;
  transition: all 0.7s ease-in-out;
  color: #0d0d0d;
}
.main__contact .contact__socialmedia {
  width: 100%;
  min-height: 8rem;
  gap: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.main__contact .contact__socialmedia .socialmedia__item {
  width: 100%;
}
.main__contact .contact__socialmedia .socialmedia__item .socialmedia__link {
  width: 100%;
  min-height: 10rem;
}
body.light .main__contact .contact__socialmedia .socialmedia__item .socialmedia__link {
  color: #0d0d0d;
}
.main__contact .contact__socialmedia .socialmedia__item .socialmedia__link .socialmedia__svg {
  width: 100%;
  height: 5rem;
  color: #a6a6a6;
}
body.light .main__contact .contact__socialmedia .socialmedia__item .socialmedia__link .socialmedia__svg {
  color: #0d0d0d;
}
.main__contact .contact__socialmedia .socialmedia__item .socialmedia__link:hover .socialmedia__svg {
  transform: scale(1.3);
  transition: all 1s ease;
}

.footer {
  width: 100%;
  position: relative;
  z-index: 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.footer .footer__container {
  width: 80%;
  min-height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__container .footer__text {
  font-family: Philosopher;
  color: #a6a6a6;
}
body.light .footer .footer__container .footer__text {
  color: #0d0d0d;
}
.footer .footer__container .footer__switch {
  background-color: #f7f4f4;
  opacity: 0.9;
  position: relative;
  border-radius: 1000px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.footer .footer__container .footer__switch::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-color: #595959;
  position: absolute;
  top: 0;
  left: unset;
  right: 0;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}
.footer .footer__container .footer__switch.active {
  background-color: #0d0d0d;
  border: 1px solid #f7f4f4;
}
.footer .footer__container .footer__switch.active::after {
  right: unset;
  left: 0;
}
.footer .footer__container .footer__switch.active .switch__span {
  color: #f7f4f4;
}
.footer .footer__container .footer__switch .switch__span {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: block;
  color: #0d0d0d;
}

.header__btn {
  position: fixed;
  z-index: 4;
  bottom: 10vh;
  right: 10vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #a6a6a6;
  opacity: 0.5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
body.light .header__btn {
  border: 2px solid #0d0d0d;
}
@media (min-width: 639px) and (max-width: 2000px) {
  .header__btn {
    display: none;
  }
}

.header__panel {
  background-color: #0d0d0d;
  opacity: 0.95;
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(0, -100%);
  transition: all 0.5s ease;
  font-family: Alegreya;
  font-size: 2.5rem;
  color: #a6a6a6;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 639px) and (max-width: 2000px) {
  .header__panel {
    display: none;
  }
}
.header__panel.is-active {
  transform: translate(0, 0);
}
.header__panel .panel__list {
  width: 90%;
  height: 90vh;
  margin: 1rem;
  border: 1px solid #f7f4f4;
  border-radius: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}/*# sourceMappingURL=main.css.map */