@import "reset", "mixin", "variables";


@import "bg-style";
@import "cursor-style";
@import "scrollbar-style";
@import "header";
@import "hero";
@import "skills";
@import "index";
@import "contact";
@import "footer";
@import "hamburger-style";